*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI',Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(foto/images.jpg);
    width:100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Segoe UI',Verdana, Geneva, Tahoma, sans-serif;
}  
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: auto;

}
nav li{
    height: 50px;

}

.bars li:last-child{
    display: none;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white
}
nav a:hover{
    background-color: blue;
    transition: 1s;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 200px;
    z-index:999;
    background-color: rgba(225,225,225,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
@media(max-width: 700px){
    nav img{
      height: 60px;
      width:60px;
    }
.bars li:last-child{
    display: flex;
    color: white;
    margin-right: 26px;
    align-items: center;
    font-size: 30px;
    cursor:pointer;

}
.sidebar li:first-child{
    display: flex;
    color: white;
    font-size: 26px;
    align-items: center;
    margin-left: 10px;
    cursor:pointer;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white
}
nav a:hover{
    background-color: blue;
    transition: 1s;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 200px;
    z-index:999;
    background-color: rgba(225,225,225,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items:flex-start;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.hideOnMobile{
     display: none;
 }
 
 }
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h2{
    font-size: 36px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color:cyan;
}

.border{
    display:inline-block;
    text-decoration: none;
    color: orange;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    background: black;
    border-radius: 10px;
}
@property --angle{
    syntax:"<angle>";
    initial-value:0deg;
    inherits: false;
}
.border::after, .border::before{
   content: '';
   position: absolute;
   height: 100%;
   width:100%;
   background-image: conic-gradient(from var(--angle),white,blue);
   top: 50%;
   left:50%;
   translate:-50% -50%;
   z-index:-1;
   padding:3px;
   border-radius: 10px;
   animation: 3s spin linear infinite;
}
.border::before{
   filter: blur(1.5rem);
   opacity: 0.5;
}
@keyframes spin{
    from{
      --angle: 0deg;

    }
    to{
      --angle: 360deg;
    }
}
@media(max-width: 700px){
    .text-box h2{
        font-size: 24px;
    }
    .text-box p{
        margin-top: 20px;
        font-size: 16px;
    }
}